<%= form_for([@article, @article.comments.build]) do |f| %>
  <% if user_signed_in? %>
   <%= f.text_area :content %>
   <p><button type="submit" class="btn btn-outline-dark">Submit</button></p>
<% end %>
<% end %>