<%= form_for([@article, @comment]) do |f| %>
<h1><%= t('common.editing_comment') %></h1>
   <%= f.text_area :content %><br>
   <button type="submit" class="btn btn-outline-dark"><%= t('common.update') %></button>
<% end %>