<ul class="nav nav-pills nav-stacked">
		<% categories.each do |category, children| %>
	      <li>
	    	<%= link_to category.name, category, class: "nav-link #{'active' if current_page? (category_path(category)) || @article.present? && @article.category == category}" %>
	    	<%= render 'shared/submenu_category', categories: children if children.present? %>
	    </li>
	    <% end %>
</ul>