<div class="Box2">
<div class="submenu">
	<h5 class="font-weight-bold text-white text-center"><%= t('navbar.categories') %></h5>
	<hr>
	<ul class="nav nav-pills nav-stacked">
		<% Category.roots.each do |category| %>
	    <li class="nav-item">
	    	<%= link_to category.name, category, class: "nav-link #{'active' if current_page? (category_path(category)) || @article.present? && @article.category == category}" %>
	    	<%= render 'shared/submenu_category', categories: category.root.descendants.arrange %>
	    <% end %>
	</li>
	</ul>
</div>
</div>