<h1 class="text-center"><%= t('category.edit_category') %></h1>
<hr>
<%= render 'form', category: @category %>
<%= link_to t('common.back'), categories_path, class:"btn btn-outline-dark", style:"Text-decoration: none;" %>