<h1 class="text-center">Hello <%= @email %>!</h1>
<hr>
<div class="Box">
<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.your_email_is_being_changed') <% = @ resource.unconfirmed_email%>.%></p>
<% else %>
  <p><%= t('devise.your_email_has_been_changed') <% = @ resource.email%>. %></p>
<% end %>
</div>