<h1 class="text-center">Hello <%= @resource.email %>!</h1>
<hr>
<div class="Box">
<p><%= t('devise.someone_has_requested') %></p>

<p><%= link_to t('devise.change_my_password'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise.if_you_didnt_requested') %></p>
<p>Your password won't change until you access the link above and create a new one.</p>
</div>