<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
html, body {
                height: 100%;
            }
            .content, .footer {
                box-sizing: border-box;
                padding: 6px;
                width: 100%;
            }
            body {
                display: flex;
                flex-direction: column;
            }
            .content {
                flex-grow: 1;
            }
        </style>
    </head>
    <body>
        <div class="content">   
        </div>
        <div class="footer text-center"><hr>Copyright by Tyachevo 2019</div>
    </body>
</html>